.row{
    margin: 5px;

    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction:row;   
    
}
    
  

.col{
    background-color: #5f9fa0;
    height: 38px;
    width: 150px;
    flex: 1/4;
    margin: 5px;
}
.col-2{
    background-color: #5f9fa0;
    height: 38px;
    width: 150px;
    flex: 2;
    margin: 5px;

}
.col-3{
    background-color: #5f9fa0;
    height: 38px;
    width: 150px;
    flex: 5;
    margin: 5px;

}


