

.textsize{
    width: 970px;
    height: 45px;
    background-color:#245076;
    display: flex;
    justify-content:flex-end;
    margin: auto;
    align-items: center;
}
.textsize p{
    color: #fff;
    
}
.textsize button {
    color: #b09e07;
    background-color:#245076;
    border-style: none;
}
.pythonname{
    background-color: #245076;
    height: 120px;
    width: 970px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pythonname img{
    width: 400px;
    height: 100px;
}

.pythonnameleft {
    display: flex;
    height: 100px;
    background-color: #444444;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 17px;
    margin-right: 26px;
}

.go {
    margin: 26px;
    
}
.go button{
    background-color:#245076 ;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 5px;
    color: #fff;
}
.links{
    background-color:#245076 ; 
    width: 970px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.links-a a{
    text-decoration: none;
    color: #fff;
    
}
.links-a{
    height: 35;
    width: 810px;
    background-color: #427cad;
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    margin-bottom: 5px;
}
.contaner-1{
    background-color: #245076 ;
    width: 970px;
    height: 275px;
    margin: auto;
    display: flex;
}
.con1-1{
    height: 215px;
    width: 250px;
    background-color:#245076 ;
    margin-left: 100px;
    

}
.dous{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dous a{
    color: #fff;
    margin-left: 5px;
}
.Audio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -26px;

}
.Audio a{
    color: #fff;
    margin-left: 5px;
}
.beginner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -26px;

}
.beginner a{
    color: #fff;
    margin-left: 5px;

}
.Deve{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -26px;
}
.Deve a{
    color: #fff;
    margin-left: 5px;
}
.PEP {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -26px;

}
.PEP a{
    color: #fff;
    margin-left: 5px;
}
.Book {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -26px;

}
.Book a{
    color: #fff;
    margin-left: 5px;
}

.FAQ {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -26px;

}
.FAQ a{
    color: #fff;
    margin-left: 5px;
}
.con1-2{
    height: 215px;
    width: 500px;
    background-color:#245076;
    margin-left: 100px;
}
.con1-2-1{
    background-color:#245076;
    height: 100px;
    width: 634px;
    color: #fff;
    margin-left: -118px;
}
.con1-2-2{
    background-color:#245076;
    height: 100px;
    width: 250px;
}
.con1-2-2{
   display: flex;
   flex-direction: column;
    text-align: center;
    margin-left: 60px;
}
.white{
    background-color:#fff;
    width: 970px;
    height: 10px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.lineblue1{
    
    background-color:#73a7d5 ;
    width: 400px;
    height : 4px;
    margin-top: 10px;
}
.lineblue2{
    background-color:#73a7d5;
    width: 450px;
    height : 4px;
    margin-top: 10px;
}
.con3{
    width: 970px;
    margin: auto;
    height: 350px;
    background-color: #fff;
    margin-top: -10px;
    display: flex;
    justify-content: space-around;
    
}
.conlegttop{
    background-color:#fff;
    height: 190px;
    width: 350px;
   text-align: center;
   font-size: 11px;
}
.conlegttop li p {
    color:#a2c4e3;
}
.com3right{
 
    height: 190px;
    width: 350px;
   text-align: center;
   font-size: 11px;
   align-items: center;

}
.pypi ul p{
    color:#a2c4e3;
    
}
.bottom{
    background-color:#25567f ;
    width: 970px;
    height: 75px;
    margin: 0 auto;
    margin-top: -69px;
    display: flex;
    justify-content: space-evenly;   
    align-items: center;
}
.bottom a{
    text-decoration: none;
    color: #7aadda;
}


